body{
    text-align: center;
}

h1{
    text-align: center;
    color: #6e85b7;

  }

input{
    border-color: #6e85b7;
}

button{
    padding: 4px;
    border-radius: 5px;
}
button:hover{
    background-color: #6e85b7;
}